/************Total**************/
body {
    background: #F8F8F8;
    width: 100vw;
    font-family: Rubik;
    margin: 0;
    overflow-x: hidden;
    color: #0E2F4B;
    font-style: normal;
    font-weight: 700;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.flexallblock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listheader, .formalize, .inputyellow, .post, .textblue, .yellowmini, .finans, .block, .blockin, .index, .news, .lawyer, .online, .footerblack {
    width: 80vw;
}
/************Header**************/
header {
    width: 100vw;
    height: 150px;
    margin-bottom: -30px;
}
/************Listheader**************/
nav {
    margin-left: -2.5vw;
}
nav > ol > li {
    display: inline-flex;
    list-style-type: none;
    margin-right: 20px;
    font-weight: 400;
    line-height: 60px; /* 375% */
}

.li {
    color: #99A2AA;
    font-size: 16px;
}
nav > ol > li>a{
    transition: 0.5s;
}
nav > ol > li>a:hover{
    color: #4d4de7;
    font-weight: 900;
    transition: 0.5s;
}

/************Main**************/

/************Yellow**************/
.yellow {
    width: 100vw;
    height: 450px;
    background: #FEC524;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formalize p {
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    font-family: Open Sans;
    font-size: 16px;
}

.formalize h1 {
    color: #FFF;
    font-size: 44px;
    line-height: 60px; /* 136.364% */
    padding-right: 45vw;
}

.formalize {
    margin-top: 35px;
}

.inputyellow {
    margin-top: 10vh;
}

#text {
    width: 18vw;
    height: 8vh;
    border-radius: 10px;
    background: #FFF;
    font-size: 16px;
    border: none;
    padding: 0px 230px 0px 30px;
    transition: 0.5s;
}
#text:hover{
    background: rgba(248, 248, 118, 0.8);
    transition: 0.5s;
}
button p {
    /*display: flex;*/
    /*justify-content: space-around;*/
}

.inputyellow > label:hover {
    box-shadow: -3px 30px 39px 10px rgba(0, 0, 0, 0.28);
    transition: 0.5s;
}

.buttonyellow a {
    color: #99A2AA;
    text-align: center;
}

.buttonyellow {
    display: flex;
    justify-content: space-between;
}

.buttonyellow img {
    padding-right: 20px;
}

.buttonyellow > button:hover {
    box-shadow: -3px 30px 39px 10px rgba(0, 0, 0, 0.42);
    transition: 0.5s;
}
.buttonyellow > button>a>p:hover{
    color: #4d4de7;
    font-weight: 600;

}
.buttonyellow button {
    border-radius: 10px;
    background: #FFF;
    width: 270px;
    border: none;
    height: 80px;
    margin-top: 35px;
    font-size: 16px;
    box-shadow: -3px 30px 39px 10px rgba(0, 0, 0, 0.28);
    cursor: pointer;
    transition: 0.5s;
}

/************Postnews**************/

.postnews {
    width: 100vw;
    margin-top: 15vh;
}

.leftpost, .rightpost {
    width: 33vw;
    height: 630px;
}

.leftpost h2, .rightpost h3 {
    margin-top: 10vh;
}

.leftpost h2 {
    font-size: 48px;
    line-height: 60px; /* 125% */
}

.leftpost p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.longlink{
    padding-right: 6vw;
}
.shortlink{
    padding-right: 16vw;
}
.link a {
    color: #0E2F4B;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
    transition: 0.5s;
}

.link h3 {
    font-size: 24px;
    line-height: 32px; /* 133.333% */
}
.link>p>a:hover{
    color: #4d4de7;
    transition: 0.5s;
}
/************Blue**************/
.blue {
    width: 100vw;
    background: #042C4B;
    height: 65vh;
    flex-direction: column;
}

.textblue h2 {
    color: #F8F8F8;
    font-family: Rubik;
    font-size: 48px;
    line-height: 60px; /* 125% */
    padding-right: 30vw;
}

.textblue button {
    border-radius: 10px;
    background: #FDC13D;
    width: 305px;
    height: 80px;
    padding: 28px 0px;
    border: none;
}

.textblue a {
    color: #0E2F4B;
    font-size: 20px;
    line-height: 80px; /* 400% */
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
}

.textblue p {
    color: #99A2AA;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    padding-right: 56vw;
}
.textblue>button>a{
    transition: 0.5s;
}
.textblue>button>a:hover{
    font-size: 30px;
    color: #4d4de7;
    transition: 0.5s;
}

/************Aroundyellowmini**************/

.aroundyellowmini {
    width: 100vw;
    height: 60vh;
}

.yellowmini {
    height: 32vh;
    border-radius: 10px;
    background: #FDC13D;
}

.textyellowmini h2 {
    font-size: 24px;
    line-height: 32px; /* 133.333% */
}

.textyellowmini p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.textyellowmini a {
    color: #0E2F4B;
    font-size: 16px;
    line-height: 24px; /* 150% */
}
.textyellowmini>h3>a{
    transition: 0.5s;
}
.textyellowmini>h3>a:hover{
    color: #4d4de7;
    transition: 0.5s;
}
    /************financialservices**************/

.financialservices {
    width: 100vw;
    height: 50vh;
    margin-bottom: 20vh;
}

.finans h2 {
    font-size: 48px;
    line-height: 60px; /* 125% */
}

.blockin h3 {
    font-size: 24px;
    line-height: 32px; /* 133.333% */
}
.blockin>h3:nth-child(1){
    padding-right: 15vw;
}
.blockin a {
    color: #0E2F4B;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
    transition: 0.5s;
}
.blockin>p>a:hover{
    color: #4d4de7;
    transition: 0.5s;
}

/************blue**************/
#city{
    transition: 0.5s;
}
#city:hover {
    transition: 0.5s;
    background: rgba(219, 219, 225, 0.24);
    box-shadow: -3px 30px 39px 10px rgba(0, 0, 0, 0.28);
}
.index>button:hover{
    box-shadow: 10px 16px 22px 15px rgba(0, 0, 0, 0.28);
    transition: 0.5s;
}
.index>button>a:hover{
    color: #4d4de7;
    transition: 0.5s;
}
.index h2 {
    color: #F8F8F8;
    font-size: 48px;
    line-height: 60px; /* 125% */
}

.index p {
    color: #99A2AA;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    padding-right: 3vw;
}

.index input {
    border-radius: 10px;
    border: 1px solid #E8EBEE;
    background: #FFF;
    width: 505.98px;
    height: 78px;
    padding: 0px 30px;
    color: #6C757D;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.index button {
    width: 248.98px;
    height: 80px;
    padding: 28px 86.725px 28px 87.05px;
    border-radius: 10px;
    background: #FDC13D;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.index a {
    color: #0E2F4B;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
}

/************Bordernews**************/


.bordernews {
    width: 100vw;
}
.news h2 {
    font-size: 48px;
    line-height: 60px; /* 125% */
    padding-top: 60px;
}
.borderboxnews {
    display: flex;
}
.boxnews:hover {
    box-shadow: -3px 30px 39px 10px rgba(0, 0, 0, 0.28);
    transition: 0.5s;
}
.boxnews {
    width: 570px;
    height: 270px;
    border-radius: 10px;
    background: #FFF;
    margin-right: 30px;
    margin-bottom: 32px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    transition: 0.5s;
}
.boxnews p {
     color: #0E2F4B;
     font-family: Open Sans;
     font-size: 16px;
     font-weight: 400;
     line-height: 30px; /* 187.5% */
     margin-left: 25px;
     width: 508.76px;
     height: 52px;
 }
.imgbox {
    display: flex;
}

.imgbox img {
    padding: 20px;
}

.onlytextbox {
    display: flex;
    flex-direction: column;
    height: 74px;
}

.onlytextbox > p:nth-child(1) {
    color: #99A2AA;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.onlytextbox > p:last-child {
    color: #0E2F4B;
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    margin-top: -7px;
    width: 360.75px;
    height: 70px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;

}

/************Borderlawyer**************/
.borderlawyer {
    width: 100vw;
    height: 70vh;
    flex-direction: column;
    margin-bottom: 80px;

}

.lawyer h2 {
    font-size: 48px;
    line-height: 60px; /* 125% */
}

.lawyerbox {
    height: 92px;
    width: 370px;
    display: flex;
    border-radius: 10px;
    background: #FFF;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.lawyerbox:hover {
    box-shadow: -3px 30px 39px 10px rgba(0, 0, 0, 0.28);
    transition: 0.5s;
}
.lawyerbox>a>p:hover{
    color: #4d4de7;
    font-size: 25px;
    transition: 0.5s;
}
.lawyerbox p {
    color: #99A2AA;
    font-size: 20px;
    line-height: 32px; /* 160% */
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    margin-left: 40px;
    transition: 0.5s;
}

.linelawyer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/************Yellowfooter**************/

.yellowfooter {
    width: 100vw;
    height: 400px;
    background: #FEC524;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    padding: 90px 0 50px 0;
}
.online h2 {
    color: #FFF;
    font-size: 48px;
    line-height: 60px; /* 125% */
}

.online > p:nth-child(n+2) {
    font-size: 17px;
    line-height: 30px; /* 176.471% */
}

.online > p:nth-child(2) {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
}

.dowmload {
    display: flex;
}

.appgoogle a {
    color: #000;
    font-size: 10px;
    line-height: normal;
    transition: 0.5s;
}
.appgoogle > p {
    position: relative;
    bottom: 55px;
    left: 60px;
    margin: 0;
}
.appgoogle >p>a:hover{
    color: #4d4de7;
    transition: 0.5s;
}
.appgoogle{
    height: 50px;
    width: 170px;
    cursor: pointer;
    margin-right: 24px;
    transition: 0.5s;
}
.appgoogle:hover{
    box-shadow: -3px 30px 39px 10px rgba(0, 0, 0, 0.28);
    transition: 0.5s;
}
.social img {
     margin-right: 16px;
 }
.social>a>img{
    height: 38px;
    width: 37px;
    border-radius: 50%;
    transition: 0.5s;
}
.social>a>img:hover{
    box-shadow: -3px 30px 39px 10px rgba(0, 0, 0, 0.28);
    transition: 0.5s;
}
/************Footer**************/
footer {
    width: 100vw;
    height: 750px;
    background: #1D2023;
    flex-direction: column;
}

.footerblack {
     display: flex;
 }

.list {
    height: 550px;
    width: 300px;
    align-items: flex-start;
    justify-content: flex-start;
}

.list p {
    color: #FFF;
    font-size: 16px;
    line-height: 20px; /* 125% */
}

.list > ol > li {
    list-style-type: none;
    padding-bottom: 10px;
}

.list > ol > li > a {
    color: #99A2AA;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    transition: 0.5s;
}

.list > ol {
    padding-left: 0;
}

.list > ol > li>a:hover{
    color: #4d4de7;
    font-size: 17px;
    transition: 0.5s;
}
hr {
    width: 80%;
}